.App {
  text-align: center;
}
img{
  border-style: solid;
  border: width 100px;
  border-color:aqua;
  height: 450px;
  align-self: left;

}
.sidediv
{
  height:125px;
  width:125px;
  padding:10px 10px;
  display: inline-block;
  

}

.stock-container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 5em;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo { 
  text-align: center;
  width: auto;
  height: auto;
}



.block-example {
  width: 20rem;
  height: 40rem;
  margin: 1rem;
  background-color: white;
  display: inline-block;
 
  
}

.container {
  max-width: '100%';
}

.container2 {
  background-color: white;
  box-shadow:  6px 5px gray;
  width: 131px;
}

.dropdown {
  width: 380px;
  margin-left : 20px;float:left;
}


* {font-size: 15px;}

* {font-family : Impact, Haettenschweiler, sans-serif}





.bg{
  background-color: #C9CED6;
  border: none;
}

.bgg {
  background-color: white;
  color: white;
  box-shadow:  6px 3px gray;

}


.container-div{ 
  
  Height: 100vw;
  Width: 500vw; 
  Align-Items: left;
  Justify-Content: left;
  background-color: white;
  }

.white{
  background-color: white;
}



.background2 {
  padding: 80px;  /* Just an example padding */
  background: #FFFFFF; /* Just an example color */
  background-clip: padding-box;  
  border-radius: 8px;
  box-shadow:  10px 10px 5px gray;
  
}

.background3 {
  background-clip: padding-box;  
  border-radius: 8px;
  box-shadow:  7px 7px 3px gray;

}


.container{ 
  
  Height: 900px;

  Align-Items: left;
  Justify-Content: left;
  background-color: #C9CED6;
  }


  .row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }


    .btn-skip {
      background-color: #FF2626;
      color: white;
      height: 40px;
      
      margin-top: -119px;
      margin-left: 420px;
      border-radius: 8px;
  
     
    }


    .btn-list {
      background-color: #EDEDF6;
      color: black;
      height: 40px;
      width: 100px;
      margin-top: -65px;
      border-radius: 8px;
      

    }

    .imgDes {
      width: 55px;
      height: 55px;
      float:left;
    }

    .parLogo {
      width: 150px;
      height: 60px;
     
    }




.dialog {
  position: static;
  left: 50%;
  z-index: 10;
  top: 5%;

}


.zoom{
  height: 700px;
  width: 700px;


}